Unity4/Chapter2/obj/
Unity4/Chapter2/Library/
Unity4/Chapter2/Temp/
*.sln
*.csproj
*.unityproj
*.userprefs
Unity4/Chapter2/Assets/UnityVS.meta
Unity4/Chapter2/Assets/UnityVS/Editor.meta
Unity4/Chapter2/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Unity4/Chapter2/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Unity4/Chapter2/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Unity4/Chapter2/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Unity4/Chapter2/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Unity4/Chapter2/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
Unity4/Chapter2/Assets/SublimeSocketAsset/*
Unity4/Chapter2/Assets/SublimeSocketAsset.meta


AndroidApp/app.apk

iOSApp/*

log.txt

